<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div id="wrapper">
    {% include header.html %}
    
    <div class="container container-with-sidebar">
      <aside class="left-sidebar">
        {% include toc_sidebar.html %} 
      </aside>

      <main class="main-content">
        <section id="main_content">
          {{ content }}
        </section>
      </main>
    </div>

    </div>

  {% if paginator.total_pages > 1 %}
    {% endif %} 
  
  {% include footer.html %}

  {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %}
</body>

</html>
